body {
 	background: url("images/surfs.jpg");
 	background-size: cover;
}
h1 {
	text-align: left;
	font-family: Avenir;
	color: #00453D;
	font-size: 48px;
	font-weight: 700;
}
h3 {
	text-align: left;
	font-family: Avenir;
	color: #00453D;
	font-size: 14px;
	font-family: 300;
}
ul {
	text-align: left;
	list-style-type: none;
	font-family: Avenir;
	color: #00453D;
	font-size: 14px;
	font-family: 100;
	margin: 0;
}
li {
	text-align: left;
	list-style-type: none;
	font-family: Avenir;
	color: #00453D;
	font-size: 14px;
	font-family: 100;
	margin: 0;
}
p {
	text-align: left;
	font-family: Avenir;
	color: #00453D;
	font-size: 14px;
	font-family: 100;
}
a {
	text-align: left;
	font-family: Avenir;
	color: #00453D;
	font-size: 14px;
	font-family: 100;
}
