@import url(https://fonts.googleapis.com/css?family=Oswald);
header {
	background-color: #FFED74; 
	border: 1px black solid;
	padding: 20px;
	min-height: 100%;
}
body {
 	text-align: left;
	border: 1px black solid;
	padding: 20px;
	min-height: 100%;
}
div {
	font-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	min-height: 100%;
}
h1 {
	font-color: #FFED74;
	font-family: 'Oswald', Arial, sans-serif;
	font-size: 48px;
	font-weight: 700;
}
div {
	font-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	min-height: 100%;
}
nav {
    font-color; #E8C66A;
	font-family: Avenir, Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
footer {
	font-family: Avenir, Arial, sans-serif;
	font-size: 14px;
	font-weight: 100;
	color: #FF957E;
	text-decoration: none;
	border: 1px black solid;
	padding: 20px;
	min-height: 100%;
}
a: hover {
	color: #e74900;
	text-decoration: none;
}
