@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
 	background: url("../images/surfs.jpg");
 	background-size: cover;
 	background-position: 50% 70%;
}
h1 {
	text-align: left;
	font-family: 'Oswald', sans-serif;;
	color: #00453D;
	font-size: 48px;
	font-weight: 400;
}
p {
	text-align: left;
	font-family: 'Avenir Next Round', sans-serif;
	color: #00453D;
	font-size: 24px;
	font-weight: 300;
}
h3 {
	text-align: left;
	font-family: 'Avenir Next Round', sans-serif;
	color: #00453D;
	font-size: 18px;
	font-family: 300;
}
ul {
	text-align: left;
	list-style-type: none;
	font-family: 'Avenir Next Round', sans-serif;
	color: #00453D;
	font-size: 14px;
	font-family: 300;
}
p {
	text-align: left;
	font-family: 'Avenir Next Round', sans-serif;
	color: #00453D;
	font-size: 12px;
	font-family: 300;
}
a {
	text-align: left;
	font-family: 'Avenir Next Round', sans-serif;
	color: #00453D;
	font-size: 12px;
	font-family: 300;
}