@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
 	background: url("../images/surfs.jpg");
 	background-size: cover;
 	background-position: 50% 70%;
 	margin-left: 10px;
 	margin-bottom: 10px;
 	margin-top: 10px
}
h1 {
	text-align: left;
	font-family: 'Oswald', sans-serif;;
	color: #00453D;
	font-size: 48px;
	font-weight: 400;
	margin-left: 10px;
}
p {
	text-align: left;
	font-family: Avenir;
	color: #00453D;
	font-size: 24px;
	font-weight: 300;
	margin-left: 10px;
}
h3 {
	text-align: left;
	font-family: Avenir;
	color: #00453D;
	font-size: 18px;
	font-family: 300;
	margin-left: 10px;
}
ul {
	text-align: left;
	list-style-type: left;
	font-family: Avenir;
	color: #00453D;
	font-size: 14px;
	font-family: 300;
	margin-left: 10px;
}
p {
	text-align: left;
	font-family: Avenir;
	color: #00453D;
	font-size: 12px;
	font-family: 300;
	margin-left: 10px;
}
a {
	text-align: left;
	font-family: Avenir;
	color: #00453D;
	font-size: 12px;
	font-family: 300;
	margin-left: 10px;
}